body {
  color: #333333;
}

.primary {
  background: #006400 !important;
  color: #ffffff;
}
.secondery {
  background: #242c43 !important;
  color: #ffffff !important;
}
.bodypart {
  min-height: 1000px;
}

table.searchclass {
  table-layout: auto;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #006400 !important;
  color: white;
  text-align: center;
}
