.rightshift {
  float: right;
  margin: 10px 0px;
}
.image {
  background-image: url(../../images/office.jpg);
  height: 100%;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
